
/* Color */
$clr-red-orange: #E95721;
$clr-orange: #F37808;
$clr-yellow: #F5A90F;
$clr-blue: #004381;
$clr-black: #14171A;
$clr-darkGray: #657786;
$clr-white: #fff;


/* Font Weights */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extraBold: 800;

/* Font Size */
$base-font-size: 14px;
$font-size-small: 12px;
$font-size-large: 16px;

/* Radius */
$base-corner-radius: 8px;
$corner-radius-round: 9999px;